<html><head>
    <meta charset="utf-8">
    
    <title>SHOP</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    
    <link rel="shortcut icon" href="favicon.ico">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="..\static\footer.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">


    <!-- <link rel="stylesheet" href=" static\home.css"> -->
    <link rel="stylesheet" href=" ..\static\cards.css">
    <link rel="stylesheet" href=" ..\static\home.css">
    <script src=" ..\static\store.js"></script>
    
    <!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>-->
    <script>window.jQuery || document.write('<script src="js/jquery-1.8.3.min.js"><\/script>')</script><script src="js/jquery-1.8.3.min.js"></script>
    <script src="js/html5.js"></script>
    <script src="js/main.js"></script>
    <script src="js/radio.js"></script>
    <script src="js/checkbox.js"></script>
    <script src="js/selectBox.js"></script>
    <script src="js/jquery.carouFredSel-6.2.0-packed.js"></script>
    <script src="js/jquery.touchSwipe.min.js"></script>
    <script src="js/jquery.jqzoom-core.js"></script>
    <script src="js/jquery.transit.js"></script>
    <script src="js/jquery.easing.1.2.js"></script>
    <script src="js/jquery.anythingslider.js"></script>
    <script src="js/jquery.anythingslider.fx.js"></script>
    <link rel="stylesheet" href=" ..\static\new_shop.css" />
        <script src=" static\store.js" async></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script>
        function favTutorial() {
        var mylist = document.getElementById("myList");
        document.getElementById("favourite").value = mylist.options[mylist.selectedIndex].text;
        }
        </script>
        <link rel="stylesheet" href="..\static\nav.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


  <style>
    .card__image1{
      width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius:10px;
    }
   .compact{
    margin-left: 40px;
    margin-right: 10px;
    
   }
    .column1 {
      float: left;
      width: 25%;
      padding: 10px 10px 10px 10px;
    }
    
    .row {margin: 50px -5px;}
    
    /* Clear floats after the columns */
    .row1:after {
      content: "";
      display: table;
      clear: both;
    }
    
    /* Responsive columns */
    @media screen and (max-width: 600px) {
      .column1 {
        width: 100%;
        display: block;
        margin-bottom: 20px;
      }
    }
    
    /* Style the counter cards */
    .card1 {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      padding: 16px;
      text-align: center;
      background-color: #f1f1f1;
      width:300px;
      height:400px;
    }



    .qt, .qt-plus, .qt-minus {
      display: block;
      float: left;
      border-top: 2px solid #333333;
    border-right: 2px solid #333333;
    border-left: 2px solid #333333;
    border-bottom: 2px solid #333333;

    }
    
    .qt {
      font-size: 19px;
      line-height: 30px;
      width: 50px;
      text-align: center;
      margin-top: 50px;
      background-color:#ffffe6;
      float:left;

    }
    
    .qt-plus, .qt-minus {
      border: none;
      font-size: 30px;
      font-weight: 500;
      height: 10%;
      width:20px;
      float:left;
    }
    
    .qt-plus:hover, .qt-minus:hover {
      background: #ffffe6;
      color: pink;
      cursor: pointer;
      height: 34px;
    }
    
    .qt-plus {
      line-height: 30px;
      margin-top: 50px;
    }
    
    .qt-minus {
      line-height: 30px;
      margin-top: 50px;
    }

    .details-prod {
      line-height: 130px;
      margin-top: 50px;
      font-size: 15px;
      float:right;
      left:90px;
    }

    .content{
      display: table-cell;
    }
    </style>
     
  </head>
  <body style="background-color:#ffffe6">
    <body style="background-color:#ffffe6">
      <nav style="background-color:#FEFBE7">
        <div class="wrapper">
          <div class="logo"><a href="#">CodingNepal</a></div>
          <input type="radio" name="slider" id="menu-btn">
          <input type="radio" name="slider" id="close-btn">
          <ul class="nav-links">
            <label for="close-btn" class="btn close-btn"><i class="fas fa-times"></i></label>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li>
              <a href="#" class="desktop-item">Dropdown Menu</a>
              <input type="checkbox" id="showDrop">
              <label for="showDrop" class="mobile-item">Dropdown Menu</label>
              <ul class="drop-menu">
                <li><a href="#">Drop menu 1</a></li>
                <li><a href="#">Drop menu 2</a></li>
                <li><a href="#">Drop menu 3</a></li>
                <li><a href="#">Drop menu 4</a></li>
              </ul>
            </li>
            <li>
              <a href="#" class="desktop-item">Mega Menu</a>
              <input type="checkbox" id="showMega">
              <label for="showMega" class="mobile-item">Mega Menu</label>
              <div class="mega-box">
                <div class="content">
                  <div class="row">
                    <img src="../images/ring.jpg" alt="">
                  </div>
                  <div class="row">
                    <header>Design Services</header>
                    <ul class="mega-links">
                      <li><a href="#">Graphics</a></li>
                      <li><a href="#">Vectors</a></li>
                      <li><a href="#">Business cards</a></li>
                      <li><a href="#">Custom logo</a></li>
                    </ul>
                  </div>
                  <div class="row">
                    <header>Email Services</header>
                    <ul class="mega-links">
                      <li><a href="#">Personal Email</a></li>
                      <li><a href="#">Business Email</a></li>
                      <li><a href="#">Mobile Email</a></li>
                      <li><a href="#">Web Marketing</a></li>
                    </ul>
                  </div>
                  <div class="row">
                    <header>Security services</header>
                    <ul class="mega-links">
                      <li><a href="#">Site Seal</a></li>
                      <li><a href="#">VPS Hosting</a></li>
                      <li><a href="#">Privacy Seal</a></li>
                      <li><a href="#">Website design</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </li>
            <li><a href="#">Feedback</a></li>
          </ul>
          <label for="menu-btn" class="btn menu-btn"><i class="fas fa-bars"></i></label>
        </div>
      </nav>
      <br><br><br>


    <!--cards-->
    <section class="container1 content-section">
      
      <div class="shop-items">
          <div class="shop-item">
              <span class="shop-item-title">Album 1</span>
              <a href="  products.html">
              <img class="shop-item-image" src=" ..\images\1.jpg" ></a><br><br>
              <p style="text-align:center">welcome to the best shopping mart</P>
                <p style="text-align:center">welcome to the best shopping mart</P>
              <div class="shop-item-details">
                  <span class="shop-item-price">Rs12.99</span>
                  <button   class="btn btn-primary shop-item-button" type="button" style="background-color:#45b0ba" id=" buttonText">ADD TO CART</button>
              </div>
          </div>
          <div class="shop-item">
              <span class="shop-item-title">Album 2</span>
              <a href=" products.html">
                <img class="shop-item-image" src=" ..\images\2.jpg" ></a><br><br>
              <p style="text-align:center">welcome to the best shopping mart</P>
                <p style="text-align:center">welcome to the best shopping mart</P>
              <div class="shop-item-details">
                  <span class="shop-item-price">Rs14.99</span>
                  <button   class="btn btn-primary shop-item-button"type="button" style="background-color:#45b0ba" id=" buttonText">ADD TO CART</button>
              </div>
          </div>
          <div class="shop-item">
              <span class="shop-item-title">Album 3</span>
              <a href=" products.html">
                <img class="shop-item-image" src=" ..\images\3.jpg" ></a> <br><br>             
                <p style="text-align:center">welcome to the best shopping mart</P>
                <p style="text-align:center">welcome to the best shopping mart</P>
              <div class="shop-item-details">
                  <span class="shop-item-price">Rs9.99</span>
                  <button   class="btn btn-primary shop-item-button" type="button" style="background-color:#45b0ba" id=" buttonText">ADD TO CART</button>
              </div>
          </div>
          <div class="shop-item">
              <span class="shop-item-title">Album 4</span>
              <a href=" products.html">
                <img class="shop-item-image" src=" ..\images\4.jpg" ></a><br><br>
              <p style="text-align:center">welcome to the best shopping mart</P>
                <p style="text-align:center">welcome to the best shopping mart</P>
              <div class="shop-item-details">
                  <span class="shop-item-price">Rs19.99</span>
                  <button   class="btn btn-primary shop-item-button" type="button" style="background-color:#45b0ba" id=" buttonText">ADD TO CART</button>
              </div>
          </div>
          <div class="shop-item">
              <span class="shop-item-title">Album 5</span>
              <a href=" products.html">
                <img class="shop-item-image" src=" ..\images\5.jpg" ></a><br><br>
              <p style="text-align:center">welcome to the best shopping mart</P>
                <p style="text-align:center">welcome to the best shopping mart</P>
              <div class="shop-item-details">
                  <span class="shop-item-price">Rs19.99</span>
                  <button   class="btn btn-primary shop-item-button" type="button" style="background-color:#45b0ba" id=" buttonText">ADD TO CART</button>
              </div>
          </div>
          <div class="shop-item">
            <span class="shop-item-title">Album 6</span>
            <a href=" products.html">
              <img class="shop-item-image" src=" ..\images\6.jpg" ></a><br><br>
            <p style="text-align:center">welcome to the best shopping mart</P>
              <p style="text-align:center">welcome to the best shopping mart</P>
            <div class="shop-item-details">
                <span class="shop-item-price">Rs199.99</span>
                <button   class="btn btn-primary shop-item-button" type="button" style="background-color:#45b0ba" id=" buttonText">ADD TO CART</button>
            </div>
        </div>
        <div class="shop-item">
          <span class="shop-item-title">Album 7</span>
          <a href=" products.html">
            <img class="shop-item-image" src=" ..\images\1.jpg" ></a><br><br>
          <p style="text-align:center">welcome to the best shopping mart</P>
            <p style="text-align:center">welcome to the best shopping mart</P>

          <div class="shop-item-details">
              <span class="shop-item-price">Rs200.00</span>
              <button   class="btn btn-primary shop-item-button" type="button" style="background-color:#45b0ba" id=" buttonText">ADD TO CART</button>
          </div>
      </div>
      </div>
  </section>
    <!--end cards-->
    <br><br>


<!--cart display-->
<div id="#disp">
    <section class="container content-section">
      <h2 class="section-header">CART</h2>
      <div class="cart-row">
          <span class="cart-item cart-header cart-column">ITEM</span>
          <span class="cart-price cart-header cart-column">PRICE</span>
          <span class="cart-quantity cart-header cart-column">QUANTITY</span>
      </div>
      <div class="cart-items">
      </div>
      <div class="cart-total">
          <strong class="cart-total-title">Total</strong>
          <span class="cart-total-price">$0</span>
      </div>
      <button class="btn btn-primary btn-purchase" type="button">PURCHASE</button>
  </section>
</div>
  <br><br>

  <!--end cart display-->

      <!--footer-->
    <div class="footer-basic">
      <footer>
          <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
          <ul class="list-inline">
              <li class="list-inline-item"><a href="#">Home</a></li>
              <li class="list-inline-item"><a href="#">Services</a></li>
              <li class="list-inline-item"><a href="#">About</a></li>
              <li class="list-inline-item"><a href="#">Terms</a></li>
              <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
          </ul>
          <p class="copyright">Company Name © 2018</p>
      </footer>
  </div>


  <!--end footer-->
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>

<ul class="selectBox-dropdown-menu selectBox-options" style="display: none;"><li class="selectBox-selected"><a rel="1">1</a></li><li><a rel="2">2</a></li><li><a rel="3">3</a></li><li><a rel="4">4</a></li><li><a rel="5">5</a></li><li><a rel="6">6</a></li><li><a rel="7">7</a></li><li><a rel="8">8</a></li><li><a rel="9">9</a></li><li><a rel="10">10</a></li><li><a rel="11">11</a></li><li><a rel="12">12</a></li></ul><ul class="selectBox-dropdown-menu selectBox-options" style="display: none;"><li class="selectBox-selected"><a rel="Price">Price</a></li><li><a rel="Rating">Rating</a></li><li><a rel="Name">Name</a></li></ul></body></html>